<!DOCTYPE html>
<html>
<head>
	<title>Admin Interface</title>
</head>
<body>
<center>
	<h1> Food Admin</h1>


	<form>
	
	<table border="2" width="80%">
		<tr>

			<td colspan=2 align= "center">Food Name</td>
		</tr>
		
		<tr>
			<td colspan=2 align= "right">
				<input type="button" onclick="location.href='fcart.html';" value="Food Cart">
				
			</td>
		</tr>
		<tr>

			<td colspan=2 align= "center">Price Management</td>
		</tr>
		
		<tr>
			<td colspan=2 align= "right">
				<input type="button" onclick="location.href='fcart.html';" value="Price List">
			</td>
		</tr>
		<tr>

			<td colspan=2 align= "center">Chefs Profile</td>
		</tr>
				<tr>
			<td colspan=2 align= "right">
				<input type="button" onclick="location.href='cprofile.html';" value="Chefs List">
			</td>
		</tr>
		
		<tr>

			<td colspan=2 align= "center">Hotline</td>
		</tr>
				<tr>
			<td colspan=2 align= "right">
				<input type="button" onclick="location.href='hline.html';" value="Check">
				
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="button" onclick="location.href='admininfo.html';" value="Personal Info">
				<input type="button" onclick="location.href='reg.html';" value="Registration">

				<input type="button" onclick="location.href='login.html';" value="Logout">
				
			</td>
		</tr>
	</table>
	</fieldset>
	</form>
	</center>
</body>
</html>
