

<!DOCTYPE html>
<html>
<head>
	<title>Admin INFO</title>
</head>
<body>
	<center>
	<h1>Admin Information</h1>


	<form>
	<fieldset>
		<legend><h2>Admin</h2></legend>
	<table>
		
			<tr>
			<td>Name: S. M. Estiaq Ahamed</td>
			
			
		</tr>
		<tr><td>ID: 17-33972-1</td></tr>
		<tr><td>Degignation: Catering Admin</td></tr>
			
			
				
				
		<tr>
			<td align="center">
			<input type="button" onclick="location.href='adminui.html';" value="Back">
				
			</td>
		</tr>
		
	</table>
	</fieldset>
	</form>
	</center>
</body>
</html>