<html>
<head>
	<title>Chef Add</title>
</head>
<body>


	<form>
	<fieldset>
		<legend>Add Chef's Information</legend>
	<table>
		<tr>
			<td>Name: </td>
			<td><input type="name" name="" value=""/></td>
		</tr>
		<tr>
			<td>Age: </td>
			<td><input type="number" name="" value=""/></td>
		</tr>
		<tr>
			<td>Experience: </td>
			<td><input type="number" name="" value=""/></td>
		</tr>
		
		
		
		<tr>
			<td td colspan=1 align= left>
				<input type="button" onclick="location.href='cprofile.html';" value="Add">
				<td td colspan=1 align= left>
				<input type="button" onclick="location.href='cprofile.html';" value="Back">
				
			</td>
		</tr>
	</table>
	</fieldset>
	</form>
</body>
</html>