<!DOCTYPE html>
<html>
<head>
	<title>Chef's List</title>
</head>
<body>
<center>
	
	
	
	
	<table border="1" width="300px">
	<form>
	
	<tr>
	<td colspan=3 align= "center"><h2>Chef's Info</h2></td>
	</tr>
		
	
	<form>
		
		<tr>

			<td colspan="1" align= "left">Chefs Name: </td>
			<td colspan="1" align= "center">Age:</td>
			<td colspan="1" align= "center">Experience(In year):</td>
			
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Rahik </td>
			<td colspan="1" align= "center">35</td>
			<td colspan="1" align= "center">5</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Nahid Sheikh</td>
			<td colspan="1" align= "center">60</td>
			<td colspan="1" align= "center">20</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Pobitra Mondol</td>
			<td colspan="1" align= "center">50</td>
			<td colspan="1" align= "center">10</td>
			
		</tr>
		<tr>
			<td colspan=3 align= right>
				<input type="button" onclick="location.href='cadd.html';" value="Add">
				<input type="button" onclick="location.href='cremove.html';" value="Remove">
				<input type="button" onclick="location.href='adminui.html';" value="Back">

			</td>
		</tr>
	</table>
	</fieldset>
	</form>
	</center>
</body>
</html>