<!DOCTYPE html>
<html>
<head>
	<title>Add</title>
</head>
<body>
<center>
	
	
	
	
	<table border="1" width="300px">
	<form>
	
	<tr>
	<td colspan=3 align= "center"><h2>Food Cart Add</h2></td>
	</tr>
		
	
	<form>
		
		<tr>

			<td colspan="1" align= "left">Food</td>
			<td colspan=1 align= right>
				<a href="addfood.html">Add
			</a>
		</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Price</td>
			<td colspan=1 align= right>
				<a href="addprice.html">Add
			</a>
		</td>
		</tr>
		<tr>
			<td colspan="2" align= "right">
			<input type="button" onclick="location.href='adminui.html';" value="Back">
		</td>
	</tr>

	</table>
	</fieldset>
	</form>
	</center>
</body>
</html>