<!DOCTYPE html>
<html>
<head>
	<title>Food Cart</title>
</head>
<body>
<center>
	
	
	
	
	<table border="1" width="300px">
	<form>
	
	<tr>
	<td colspan=2 align= "center"><h2>FOOD CART</h2></td>
	</tr>
		
	
	<form>
		<tr>

			<td colspan="1" align= "left">Food Name:</td>
			<td colspan="1" align= "center">Price List(Per person TK):</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Plain Rice</td>
			<td colspan="1" align= "center">50</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Morog Polao</td>
			<td colspan="1" align= "center">100</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Mutton Kacchi</td>
			<td colspan="1" align= "center">150</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Biriyani</td>
			<td colspan="1" align= "center">80</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Borhani</td>
			<td colspan="1" align= "center">40</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Beef Jali Kabab</td>
			<td colspan="1" align= "center">20</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Chicken Tanduri</td>
			<td colspan="1" align= "center">60</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Chicken Fry</td>
			<td colspan="1" align= "center">50</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Chicken Curry</td>
			<td colspan="1" align= "center">80</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Beef Curry</td>
			<td colspan="1" align= "center">100</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Beef Kala Bhuna</td>
			<td colspan="1" align= "center">100</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Firni</td>
			<td colspan="1" align= "center">25</td>
			
		</tr><tr>

			<td colspan="1" align= "left">Jorda</td>
			<td colspan="1" align= "center">30</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Yogart</td>
			<td colspan="1" align= "center">20</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Cold Drink</td>
			<td colspan="1" align= "center">20</td>
			
		</tr>
		<tr>

			<td colspan="1" align= "left">Mineral Water</td>
			<td colspan="1" align= "center">12</td>
			
		</tr>
		
			<td colspan=2 align= right>
				<input type="button" onclick="location.href='fcadd.html';" value="Add">
				
				<input type="button" onclick="location.href='fcman.html';" value="Manage">
				<input type="button" onclick="location.href='fcremove.html';" value="Remove">
				
				<input type="button" onclick="location.href='adminui.html';" value="Back">

			</td>
		</tr>
	</table>
	</fieldset>
	</form>
	</center>
</body>
</html>