<?php

session_start();

?>

<!DOCTYPE html>
<html>
<head>
	<title>hotline</title>
</head>
<body>


	<form>
	<fieldset>
		<legend>Hot Line</legend>
	<table>
		
		<tr>
			<td><b>Phone:</b> </td>
			<td>017xxxxxx </td>
			
		</tr>
		<tr>
			<td><b>Email:</b></td>
			<td>xyz@gmail.com </td>
		</tr>
		
		<tr>

			<td td colspan=2 align= left>
		     	<hr>
				<input type="button" onclick="location.href='addhline.html';" value="Add">
			
				<input type="button" onclick="location.href='removehline.html';" value="Remove">
				<input type="button" onclick="location.href='adminui.html';" value="Back">
			</td>
		</tr>
	</table>
	</fieldset>
	</form>
</body>
</html>